<div class="row">
  <div style="margin-top: 10px;"></div>
    <div class="col-md-12 hidden-xs">
        <ul class="wizard-steps">
           <li class="wizardbar-item"  *ngFor="let pasos of lista; let i = index"  (click)="cambio(i)"
           [class.activo]="(!pasos.validado  && pasos.completado && pasos.activo && !pasos.final) ||
                            (pasos.validado  && pasos.completado && pasos.activo && !pasos.final) ||
                            (pasos.validado  && !pasos.completado && pasos.activo && !pasos.final) ||
                            (!pasos.validado && !pasos.completado && pasos.activo && !pasos.final)"
           [class.validado]="pasos.validado  && pasos.completado && !pasos.activo && !pasos.final" 
           [class.completed]="(!pasos.validado  && pasos.completado && !pasos.activo && !pasos.final) || 
                              (pasos.validado  && pasos.completado && pasos.activo && pasos.final)"
            [ngClass]="pasos.final? 'wizardbar-item-final' : 'wizardbar-item'"  [title]="(!pasos.validado  && pasos.completado && !pasos.activo && !pasos.final) || 
            (pasos.validado  && pasos.completado && pasos.activo && pasos.final)? 'Validar formularios nuevamente':''">
              <h5 *ngIf="!pasos.final" >Paso {{i + 1}}</h5>
              <span *ngIf="!pasos.final">{{pasos.titulo}}</span>
              <div class="spacio-wizardbar-item-final" *ngIf="pasos.final"></div>
              <em class="bi bi-check-circle icono-wizardbar-item-final" *ngIf="pasos.final"> </em>
          </li> 
        </ul>
      </div>
</div>
<div class="col-md-12">
  <p class="titulo-principal">{{lista[indiceActual].titulo}}</p>
  <hr class="red" *ngIf="lista.length != 0">
</div>