.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo oscuro semi-transparente */
    z-index: 9999; /* Asegura que la componente esté por encima de otros elementos */
    flex-direction: column;
  }
  .interno{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    background-color:rgba(218, 218, 218, 0.329); /* Fondo oscuro semi-transparente */
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  .text {
    text-align: center;
    margin-top: 20px; /* Espacio entre la animación y el texto */
  }

  .modal-fullscreen{

    background-color: #ffffff00 !important;
  }