
<div class="row" >
    <h1>Sistema de Administración de Depositarías</h1>
    
    <div class="linea">
      <span class="cuadro"></span>
      <hr>
    </div>

    <div class="col-sm-12">
      


      <div class="ms-webpart-zone ms-fullWidth">
        <div id="MSOZoneCell_WebPartctl00_ctl36_g_0a74927b_4501_4072_800e_5290ad60b996" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
          <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
            <div webpartid="0a74927b-4501-4072-800e-5290ad60b996" haspers="false" id="WebPartctl00_ctl36_g_0a74927b_4501_4072_800e_5290ad60b996" 
            width="100%" class="ms-WPBody noindex " allowdelete="false" allowexport="false" style=""><div id="ctl00_ctl36_g_0a74927b_4501_4072_800e_5290ad60b996">
              <div class="ms-rte-embedcode ms-rte-embedwp">
                
                
                </div>
            </div><div class="ms-clear"></div></div>
          </div><div class="ms-PartSpacingVertical"></div>
        </div><div id="MSOZoneCell_WebPartWPQ2" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
          <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
            <div webpartid="da6e690d-ba62-4b75-875a-758b0b5a06a6" haspers="false"
             id="WebPartWPQ2" width="100%" class="ms-WPBody noindex "
              allowdelete="false" style="">
              
              <div id="cbqwpctl00_ctl36_g_da6e690d_ba62_4b75_875a_758b0b5a06a6" 
              class="cbq-layout-main">
              <ul class="dfwp-column dfwp-list" style="width:100%">
                <li class="dfwp-item"><div id="carouselExampleIndicators"
                   class="carousel slide" data-ride="carousel"
                    xmlns:ddwrt="http://schemas.microsoft.com/WebParts/v2/DataView/runtime">
                    
                    <ol class="carousel-indicators"><li data-target="#carouselExampleIndicators" class="bulletC" data-slide-to="0" 
                      xmlns:ddwrt="http://schemas.microsoft.com/WebParts/v2/DataView/runtime"></li>
                      <li data-target="#carouselExampleIndicators" class="bulletC active" data-slide-to="1" xmlns:ddwrt="http://schemas.microsoft.com/WebParts/v2/DataView/runtime"></li>
                      
                    </ol>
                    <div class="carousel-inner"><div class="item cItem" xmlns:ddwrt="http://schemas.microsoft.com/WebParts/v2/DataView/runtime">
                        
</div>
                          <div class="item cItem" xmlns:ddwrt="http://schemas.microsoft.com/WebParts/v2/DataView/runtime">
                            <img src="https://subastas.indep.gob.mx/PublishingImages/Sliders/2023/5.jpg?RenditionID=8" title="" class="d-block img-fluid">
                          </div>
                          
                          
                            </div>
                            
                            
                            </div></li>
                                </ul></div><div class="ms-clear"></div></div>
          </div>
        </div>
      </div>


    </div>

    <div class="col-sm-4 espacio-superior" >
      <div class="alert alert-info" role="alert">
        <h3>Requisitos</h3>
        <hr>
          <ul>
            <li>
              Solicitud dirigida al Director General
            </li>
            <li>
              Descripción del Bien requerido
            </li>
            <li>
              Características del Bien requerido.
            </li>
            <li>
              La justificación del uso que se le dará al Bien
            </li>
            <li>
              Ver mas ...
            </li>
          </ul>
        </div>
    </div>

    <div class="col-sm-4 espacio-superior" >
      <div class="alert alert-info" role="alert">
        <h3>Registrate</h3>
        <hr>
          
        <ul>
          <li>
            Presencial: Presenta el formulario y la documentación comprobatoria de requisitos en cualquier Delegación Regional del INDEP o en sus oficinas centrales (piso 14), con atención a la Dirección Ejecutiva de Bienes Inmuebles.
          </li>
          <li>
            Registro en línea AQUÍ
          </li>
        </ul>

        

        
        


        </div>
    </div>


    <div class="col-sm-4 espacio-superior" >
      <div class="alert alert-info" role="alert">
        <h3>¿Quién puede solicitarlo?</h3>
        <hr>
          
        <b>Lo puede solicitar:</b>><br/>
        Representante legal
        <b>¿En qué caso se debe realizar el trámite o servicio?</b>
        <b>Cuando exista interés en solicitar en depositaria un bien bajo la administración de este organismo</b>
        El trámite o servicio se realiza cuando una empresa se encuentra en: 
        Proceso de aperturaOperación



        </div>
    </div>

 
</div>